In [13]:
import pandas as pd
import numpy as np

df = pd.read_csv('C:/Users/infob/Desktop/python/nuovo.py/Pandas/Esercizi develhope/World_Alcohol_Dataset - MAIN (1).csv', na_values='?')

1) Write a Pandas program to filter the records from the world alcohol consumption dataset where the beer servings are greater than 200 lt and the life expectancy is above 70 years.

In [14]:
# Visualizzo il dataframe e vedo che mi mancano delle righe

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177 entries, 0 to 176
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country          177 non-null    object
 1   beer_servings    176 non-null    float64
 2   spirit_servings  176 non-null    float64
 3   wine_servings    176 non-null    float64
 4   life_expentancy  177 non-null    float64
 5   region           177 non-null    object
 6   gdp_per_capita   177 non-null    int64
dtypes: float64(4), int64(1), object(2)
memory usage: 9.8+ KB

In [16]:
# Vado a verificre se ho valori nulli, ovviamente si perché nell'importare il csv ho inserito na_values 

df.isna().sum()

country            0
beer_servings      1
spirit_servings    1
wine_servings      1
life_expentancy    0
region             0
gdp_per_capita     0
dtype: int64

In [17]:
# Essendo che ho valori nulli vado a vedere con quali valori sostituirli, essendo che la std ha
# un valore elevato allora li sostituisco con la mediana

df.describe()

,beer_servings,spirit_servings,wine_servings,life_expentancy,gdp_per_capita
count,176.000000,176.000000,176.000000,177.000000,177.000000
mean,107.403409,77.420455,49.056818,71.679096,8641.242938
std,101.824060,85.625526,79.950536,8.170086,9838.887919
min,0.000000,0.000000,0.000000,51.000000,500.000000
25%,20.750000,4.000000,1.000000,65.700000,1700.000000
50%,76.500000,53.000000,8.000000,74.000000,4800.000000
75%,192.250000,122.500000,59.000000,77.000000,11400.000000
max,376.000000,438.000000,370.000000,88.000000,55100.000000

In [18]:
# Sostituisco i valori nulli con la mediana, poichè la std è abbastanza alta e quindi 
# ho dispersione dei valori

df1 = df.fillna(round(df['beer_servings'].median(),2))
df1 = df.fillna(round(df['spirit_servings'].median(),2))
df1 = df.fillna(round(df['wine_servings'].median(),2))

In [19]:
# Adesso applico le condizioni, visualizzo tutto il df e li ordino in modo decrescente per beer_servings e life_expentancy 

df1[(df1['beer_servings']>200) & (df1['life_expentancy']> 70)].sort_values(by=(['beer_servings','life_expentancy']),ascending=[False,False])

,country,beer_servings,spirit_servings,wine_servings,life_expentancy,region,gdp_per_capita
43,Czechia,361.0,170.0,134.0,78.8,EASTERN EUROPE,15700
61,Germany,346.0,117.0,175.0,81.0,WESTERN EUROPE,27600
127,Poland,343.0,215.0,56.0,77.5,EASTERN EUROPE,11100
94,Lithuania,343.0,244.0,56.0,73.6,BALTICS,11400
172,Venezuela,333.0,100.0,3.0,74.1,LATIN AMER. & CARIB,4800
77,Ireland,313.0,118.0,165.0,81.4,WESTERN EUROPE,29600
130,Romania,297.0,122.0,167.0,75.0,EASTERN EUROPE,7000
15,Belgium,295.0,84.0,212.0,81.1,WESTERN EUROPE,29100
122,Panama,285.0,104.0,18.0,77.8,LATIN AMER. & CARIB,6300
146,Spain,284.0,157.0,112.0,82.8,WESTERN EUROPE,22000
136,Serbia,283.0,131.0,127.0,75.6,EASTERN EUROPE,2200
89,Latvia,281.0,216.0,62.0,74.6,BALTICS,10200
8,Austria,279.0,75.0,191.0,81.5,WESTERN EUROPE,30000
141,Slovenia,270.0,51.0,276.0,88.0,EASTERN EUROPE,19000
56,Finland,263.0,133.0,97.0,81.1,WESTERN EUROPE,27400
16,Belize,263.0,114.0,8.0,71.0,LATIN AMER. & CARIB,4900
7,Australia,261.0,72.0,212.0,82.8,OCEANIA,29000
113,Netherlands,251.0,88.0,190.0,81.9,WESTERN EUROPE,28600
169,USA,249.0,158.0,84.0,79.3,NORTHERN AMERICA,37800
131,Russia,247.0,326.0,73.0,75.0,C.W. OF IND. STATES,8900
22,Brazil,245.0,145.0,16.0,75.0,LATIN AMER. & CARIB,7600
30,Canada,240.0,122.0,100.0,82.2,NORTHERN AMERICA,29800
105,Mexico,238.0,68.0,5.0,76.7,LATIN AMER. & CARIB,9000
95,Luxembourg,236.0,133.0,271.0,82.0,WESTERN EUROPE,55100
71,Hungary,234.0,215.0,185.0,75.8,EASTERN EUROPE,13900
72,Iceland,233.0,61.0,78.0,82.7,WESTERN EUROPE,30900
24,Bulgaria,231.0,252.0,94.0,74.5,EASTERN EUROPE,7600
40,Croatia,230.0,87.0,254.0,78.0,EASTERN EUROPE,10600
44,Denmark,224.0,8.0,278.0,86.0,WESTERN EUROPE,31100
53,Estonia,224.0,194.0,59.0,77.6,BALTICS,12300
167,United Kingdom,219.0,126.0,195.0,81.2,WESTERN EUROPE,27700
124,Paraguay,213.0,117.0,74.0,74.0,LATIN AMER. & CARIB,4700
165,Ukraine,206.0,237.0,45.0,71.3,C.W. OF IND. STATES,5400
114,New Zealand,203.0,79.0,175.0,81.6,OCEANIA,21600