In [1]:
# Ho caricato il file csv ed ho inserito il na_values che mi trasforma il '?' in valore nullo

import pandas as pd

df = pd.read_csv('C:/Users/infob/Desktop/python/nuovo.py/Pandas/Esercizi develhope/World_Alcohol_Dataset - MAIN (1).csv', na_values='?')

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177 entries, 0 to 176
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country          177 non-null    object
 1   beer_servings    176 non-null    float64
 2   spirit_servings  176 non-null    float64
 3   wine_servings    176 non-null    float64
 4   life_expentancy  177 non-null    float64
 5   region           177 non-null    object
 6   gdp_per_capita   177 non-null    int64
dtypes: float64(4), int64(1), object(2)
memory usage: 9.8+ KB

In [14]:
# In questo esercizio ho effettuato il drop delle righe nan

df.dropna(inplace=True)

Write a Pandas program to filter the records from the world alcohol consumption dataset where the GDP per capita is above 10,000 and the wine servings are greater than 100. Retrieve the country, beer servings, spirit servings, and life expectancy for these filtered records.

In [15]:
df1 = df[(df['gdp_per_capita'] > 10000) & (df['wine_servings'] > 100)]
df1.sort_values(by=(['gdp_per_capita','wine_servings']), ascending=[False,False])[['country','beer_servings','spirit_servings','life_expentancy']]

            country  beer_servings  spirit_servings  life_expentancy
95       Luxembourg          236.0            133.0             82.0
119          Norway          169.0             71.0             81.8
152     Switzerland          185.0            100.0             83.4
8           Austria          279.0             75.0             81.5
77          Ireland          313.0            118.0             81.4
15          Belgium          295.0             84.0             81.1
7         Australia          261.0             72.0             82.8
113     Netherlands          251.0             88.0             81.9
167  United Kingdom          219.0            126.0             81.2
57           France          127.0            151.0             82.4
61          Germany          346.0            117.0             81.0
151          Sweden          152.0             60.0             82.4
79            Italy           85.0             42.0             82.7
146           Spain          284.0            157.0             82.8
114     New Zealand          203.0             79.0             81.6
63           Greece          133.0            112.0             81.0
42           Cyprus          192.0            154.0             85.0
141        Slovenia          270.0             51.0             88.0
128        Portugal          194.0             67.0             81.1
102           Malta          149.0            100.0             81.7
43          Czechia          361.0            170.0             78.8
71          Hungary          234.0            215.0             75.8
140        Slovakia          196.0            293.0             76.7
168         Uruguay          115.0             35.0             77.0
5         Argentina          193.0             25.0             76.3
40          Croatia          230.0             87.0             78.0